reports.pesarifu.com {
    root * ./src/reports/build
    file_server {
        hide ./src/reports/build/users
    }
}

pesarifu.com {
    root * ./src/website/build
    file_server
}

app.pesarifu.com {
    reverse_proxy {
        to 127.0.0.1:3005
    }
}
