@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --appColor-black: #000000;
  --appColor-dark: #242220;
  --appColor-darkAccent: #0f121d;
  --appColor-main: #25283b;
  --appColor-lightAccent: #8b8277;
  --appColor-light: #f3f0ee;
  --appColor-white: #ffffff;
  --appColor-error: #ff7961;
  --appColor-errorText: #ba000d;
  --appColor-success: #77b454;
  --appColor-successText: #478427;
}

* {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Lato', sans-serif; */
}

body {
  background: var(--appColor-light);
}

/* Background colors */
.appBgColorBlack {
  background-color: var(--appColor-black);
}
.appBgColorDark {
  background-color: var(--appColor-dark);
}
.appBgColorDarkAccent {
  background-color: var(--appColor-darkAccent);
}
.appBgColorMain {
  background-color: var(--appColor-main);
}
.appBgColorLightAccent {
  background-color: var(--appColor-lightAccent);
}
.appBgColorLight {
  background-color: var(--appColor-light);
}
.appBgColorLight2 {
  background-color: var(--appColor-light2);
}
.appBgColorError {
  background-color: var(--appColor-error);
}
.appBgColorSuccess {
  background-color: var(--appColor-success);
}
.appBgColorWhite {
  background-color: var(--appColor-white);
}

/* Text colors */
.textColorBlack {
  color: var(--appColor-black);
}
.textColorDark {
  color: var(--appColor-dark);
}
.textColorDarkAccent {
  color: var(--appColor-darkAccent);
}
.textColorMain {
  color: var(--appColor-main);
}
.textColorLightAccent {
  color: var(--appColor-lightAccent);
}
.textColorLight {
  color: var(--appColor-light);
}
.textColorGray {
  color: var(--appColor-gray);
}
.textColorError {
  color: var(--appColor-errorText);
}
.textColorSuccess {
  color: var(--appColor-successText);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--appColor-light2);
  /* border-radius: 15px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--appColor-dark);
  /* border-radius: 15px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--appColor-main);
}

/* For screens larger than 1536px */
@media (min-width: 1535px) {
  .largeScreenSize {
    max-width: 1536px;
  }
  .nav_footerLargeScreenSize {
    width: 1536px;
  }
  .largeScreenLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.maintainRatio {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.maintainRatio2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Textarea style */
textarea {
  resize: none;
  background-color: transparent;
  border: 1px solid var(--appColor-dark);
}
