<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href=
    "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title> {% block title %}{% endblock %}</title>
    <style>
    body {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .logo {
        color: #e60481;
        background-image: -webkit-linear-gradient(45deg, #e60481 17%, #20dce1 79%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
    .accordion-link {
        color: rgb(28 100 242 / var(--tw-text-opacity));
    }
    #toast-simple {
        transition: all 0.6s ease-in-out;
    }
    </style>
    <script type="text/JavaScript">
        function showMessage() {
            let msg = document.getElementById("toast-simple");
            msg.style.display = "flex";
            let form = document.getElementById("contact-form");
            form.dispatchEvent(new KeyboardEvent('keydown', {'key': 'Escape'}));
        }
        function submitForm(event) {
            event.preventDefault();
            let form = document.getElementById("form-element");
            let data = JSON.stringify(Object.fromEntries(new FormData(form)));
            let headers = new Headers();
            headers.append("Content-Type", "application/json")
            console.log(data);
            let args = {
                method: "POST",
                headers: headers,
                body: data,

            }
            fetch(new Request("/contact-us"), args).then((response) => showMessage());
        }
        document.addEventListener("DOMContentLoaded", (event) => {
            let form = document.getElementById("form-element");
            form.addEventListener("submit", submitForm, true);
        });
    </script>
    {% endblock %}
  </head>
    <body>
   <script>0</script>
    <nav class="bg-white border-gray-200">
      <div class=
      "max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="{{ app_home }}" class=
        "flex items-center space-x-3 rtl:space-x-reverse">
                    <!-- <span class= "logo self-center text-2xl font-semibold whitespace-nowrap">Pesarifu</span> -->
                    <img src="dist/pesarifu-logo.svg" alt="Pesarifu Logo" />
                </a>
        <button data-collapse-toggle="navbar-default" type="button" class=
        "inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-default" aria-expanded="false"><span class=
        "sr-only">Open main menu</span> <svg class="w-5 h-5" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin=
        "round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15">
        </path></svg></button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class=
          "font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
            <li>
              <a href="#" class=
              "block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
              aria-current="page">Home</a>
            </li>
            <li>
              <a href="https://pesarifu.com/" class=
              "block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">
              About</a>
            </li>
            <li>

                <button data-modal-target="contact-modal" data-modal-toggle="contact-modal" class=
                    "relative inline-flex items-center justify-center p-1 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300">
            >
                        <span class="relative transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            contact us
                        </span>
            </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <div id="content">{% block content %}{% endblock %}</div>
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>



<div id="toast-simple" class="flex items-center fixed bottom-5 hidden -translate-x-1/2 left-1/2 w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
    <svg class="w-5 h-5 text-blue-600 dark:text-blue-500 rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
    </svg>
    <div class="ms-3 text-sm font-normal">Message sent successfully</div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-simple" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
</div>

        <div id="contact-form">
            <!-- main modal -->
            <div id="contact-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- modal content -->
                <div class="relative bg-white rounded-lg shadow">
                    <!-- modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                        <h3 class="text-xl font-semibold text-gray-900">
                                Get In Touch With Us
                        </h3>
                        <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="contact-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                            <span class="sr-only">close modal</span>
                        </button>
                    </div>
                    <!-- modal body -->
                    <div class="p-3 md:p-4">
                        <form class="space-y-3" id="form-element" action="/contact-us" method="post" target="dummyframe">

                            <div>
                                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                                <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John Smith" required>
                            </div>
                            <div>
                                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-mail Address(optional, for followup)</label>
                                <input type="email"  value="" name="contact_email" id="contact_email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@company.com">
                            </div>
                            <div>
                                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Phone Number (optional, for followup)</label>
                                <input type="phone" value="" name="contact_phone" id="contact_phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="+254 7000000000">
                            </div>
                            <div>

                                <label for="reason" class=
                                        "block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Subject
                                </label>
                                <input id="reason" list="reason-list"  value="" name="reason" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <datalist id="reason-list">
                                  <option value="Add unsupported statement type">Add unsupported statement type</option>
                                  <option value="Feature Suggestion">New feature suggestion</option>
                                  <option value="General Feedback">General feedback</option>
                                  <option value="Problem with the application">Problem with the application</option>
                                </datalist>
                            </div>
                            <div>

                                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
                                <textarea id="message" name="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write your thoughts here..." required>
                                    </textarea>

                            </div>
                            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div id="footer">
            {% block footer %} {% endblock %}
        </div>
        <script src=
        "https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    </body>
</html>
