
<!-- Main modal -->
<div id="privacy-policy" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                    Pesarifu's Privacy Policy
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="privacy-policy">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <h4 class="text-l font-semibold text-gray-900">Our contact details</h4>
                <p class="text-base leading-relaxed text-gray-500">
                    <b>Name</b> - Pesarifu
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    <b>Address</b> - https://pesarifu.com
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    <b>E-mail</b> - info@pesarifu.com
                </p>
                <hr/>
                <h4 class="text-l font-semibold text-gray-900">The type of personal information we collect</h4>
                <p class="text-base leading-relaxed text-gray-500">
                    We currently collect and process the following information:
                    <ul class="mb-2 list-inside list-disc text-base leading-relaxed text-gray-500">
                        <li>Personal identifiers, contacts and characteristics (for example, name and contact details)</li>
                        <li>Financial information (for example amounts, times and participating accounts)</li>
                    </ul>
                </p>
                <hr/>
                <h4 class="text-l font-semibold text-gray-900">How we get the personal information and why we have it</h4>
                <p class="text-base leading-relaxed text-gray-500">
                    All of the personal information we process is provided directly by you for the following reasons:
                </p>
                    <ul class="text-base list-inside list-disc text-base leading-relaxed text-gray-500">
                        <li>To use the services offered by our organization</li>
                        <li>To get in touch with us for any inquiries</li>
                    </ul>
                <p class="text-base leading-relaxed text-gray-500">
                    We use the information that you have given us in order to:
                </p>
                    <ul class="mb-2 text-gray-500 list-inside list-disc text-base leading-relaxed text-gray-500">
                        <li>Offer the services provided by our company</li>
                        <li>Reply to any inquiries</li>
                    </ul>
                <p class="text-base leading-relaxed text-gray-500">
                    You can withdraw your consent and ask for the deletion of your data at anytime by contacting
                    <a href="mailto:data@pesarifu.com">data@pesarifu.com</a>
                </p>
                <hr/>
                <h4 class="text-l font-semibold text-gray-900">How we store your personal information</h4>
                <p class="text-base leading-relaxed text-gray-500">
                    Your personal and financial information is stored with AES-256 encryption at rest and TLS in transit
                    for period of 3 months. We will then dispose your information by purging all records in databases,
                    backups and application logs.
                </p>
                <hr/>
                <h4 class="text-l font-semibold text-gray-900">Your data protection rights</h4>
                <p class="text-base leading-relaxed text-gray-500">
                    Under data protection law, you have rights including
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    <b>You right of access</b> - You have the right to ask us for copies of your personal information
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    <b>Your right to rectification</b> - You have the right to ask us to rectify personal information
                    you think is inaccurate. You also have the right to ask us to complete information you
                    think is incomplete.
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    <b>Your right to restriction of processing</b> -  You have the right to ask us to restrict the
                    processing of your personal information in certain circumstances.
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    <b>Your right to object to processing </b> - You have the the right to object to the processing of
                    your personal information in certain circumstances.
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    <b>Your right to data portability</b> -  You have the right to ask that we transfer the personal
                    information you gave us to another organisation, or to you, in certain circumstances.
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    You are not required to pay any charge for exercising your rights. If you make
                    a request, we have one month to respond to you.
                </p>
                <p class="text-base leading-relaxed text-gray-500">
                    Please contact us at <a href="mailto:data@pesarifu.com">data@pesarifu.com</a>
                    if you wish to make a request.
                </p>
            </div>
        </div>
    </div>
</div>
