[Unit]
Description=Pesarifu App
After=network.target

[Service]
User=linuxuser
WorkingDirectory=/home/linuxuser/pesarifu
EnvironmentFile=/home/linuxuser/pesarifu/.env
ExecStart=/home/linuxuser/pesarifu/.venv/bin/litestar --app pesarifu.api.app:app run --host 127.0.0.1 --port 3005
Restart=always

[Install]
WantedBy=multi-user.target
