[Unit]
Description=Pesarifu Celery Tasks
After=network.target
Requires=redis.service

[Service]
Type=forking
User=linuxuser
WorkingDirectory=/home/linuxuser/pesarifu
EnvironmentFile=/home/linuxuser/pesarifu/.env
ExecStart=/home/linuxuser/pesarifu/.venv/bin/celery --app $CELERY_APP pesarifu-worker --loglevel INFO --pool=prefork --concurrency=4 --without-mingle --without-heartbeat --loglevel=INFO --logfile=$CELERY_LOG_FILE --pidfile=$CELERY_PID_FILE --task-events --detach
Restart=always

[Install]
WantedBy=multi-user.target
