[Unit]
Description=Pesarifu Celery Tasks
After=network.target
Requires=redis.service

[Service]
User=linuxuser
WorkingDirectory=/home/linuxuser/pesarifu
EnvironmentFile=/home/linuxuser/pesarifu/.env
ExecStart=${APP_ROOT}/.venv/bin/celery  --app pesarifu.config.celery worker --loglevel INFO --pool=prefork --concurrency=4
Restart=always

[Install]
WantedBy=multi-user.target
