:root {
  --inputText-color: inherit;
  --inputBorder-color: #000000;
}

input:focus {
  outline: none;
}

.inputStyle {
  padding: 8px 11px 8px 0;
  /* border: 1px; */
  /* border-style: solid; */
  border-radius: 8px;
  color: var(--inputText-color);
  width: 100%;
}

.inputStyle--circle {
  border-radius: 50px;
}
.inputStyle--rounded {
  border-radius: 50px;
}
.inputStyle--slightlyRounded {
  border-radius: 10px;
}
.inputStyle--box {
  border-radius: 0;
}
.inputStyle--line {
  box-shadow: 0px 1px 0px var(--inputBorder-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.activeInputGlow:focus {
  outline: none;
  border-color: var(--appColor-main);
  box-shadow: 0 0 5px var(--appColor-main);
}
